body {
  background-color: rgb(25, 25, 25)
}

h1 {
  text-align: left;
  color: rgb(88, 175, 242);
  font-size: 80px;
}

#indexh1 {
  text-align: center;
}

#indexh2 {
  text-align: center;
}

#indexp {
  text-align: center;
}

hr {
  border: 5px solid rgb(88, 175, 242);
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 30;
}

h3 {
  color: rgb(255, 255, 255)
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

main {
  font-family:initial
}

/* Navigointipalkin taustavärin muutto */
.topnav {
  background-color: #5c5a5e;
  overflow: hidden;
}

/* Linkkien tekstin väri + reunojen koko */
.topnav a {
  float: right;
  color: rgb(88, 175, 242);
  text-align: center;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 17px;
}

/* Linkkien hover väri */
.topnav a:hover {
  background-color: #888585;
  color: black;
}

/* Aktiivisen/nykyisen linkin väri */
.topnav a.active {
  background-color: #0b0b0b;
  color: white;
}

.div1{
  background: rgb(88, 175, 242);
  position:relative;
  margin-top:-40px;
  height:5px;
  z-index:-1;
  }
  
 
